# OS files
.DS_Store

# IDE
.idea/
*.iml
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env
*.egg-info/
dist/
build/

# Testing
.pytest_cache/
.coverage
htmlcov/

# RobotPy
*.pyc
robot.log
